/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family:'Times New Roman', Times, serif, "Helvetica Neue", sans-serif; }
.custom-style-add{
    background-color:#673ab7;
    color:white;
  }
  .custom-style-delete{
    background-color:red;
    color:white;
  }
